{% extends 'templates/dashboard.twig' %}


{% block content %}

<h2>Hello, {{ user.name }}</h2>
<ul>
{% for bundle in userBundles %}
	<li>{{ bundle.bundleName }}</li>	
{% endfor %}
</ul>

{% endblock %}