{% extends 'templates/userProfile.twig' %}


{% block profilecontent %}

<h2>Hello, {{ profileUser.name }}</h2>
<ul>
{% for bundle in userBundles %}
	<li>{{ bundle.bundleName }}</li>	
{% endfor %}
</ul>

{% endblock %}