{% extends 'templates/dashboard.twig' %}
{% block content %}
	<p>bank page</p>
    <script src="https://js.stripe.com/v3/"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}