{% extends 'templates/dashboard.twig' %}
{% block content %}
	<h1>Bank Account Information:</h1>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<form action="{{ path_for('account.postBankInfo') }}" method="post" id="bank-form">
		<p>Country</p>
		<select id="country">
	        <option value="US">United States</option>
	        <option value="CA">Canada</option>
	        <option value="GB">United Kingdom</option>
	        <option value="DE">Germany</option>
	        <option value="FR">France</option>
	        <option value="ES">Spain</option>
		<select>
		<p>Currency</p>
		<select id="currency">
	        <option value="USD">US Dollar</option>
	        <option value="CAD">Canadian Dollar</option>
	        <option value="GBP">Pound</option>
	        <option value="EUR">Euro</option>
      	</select>
     	<p>Routing Number</p>
      	<input type="text" id="routing-number">
      	<p>Account Number</p>
      	<input type="text" id="account-number">
     	<p>Account Holder Name</p>
     	<input type="text" id="account-name">
     	<p>Account Holder Type</p>
     	<select id="account-holder-type">
      		<option value="individual">Individual</option>
        	<option value="company">Company</option>
      	</select>
      	<p id="bank-errors"></p>
      	{{ csrf.field | raw }}
      	<input type="text" name="bank-token" id="bank-token" style="display:none">
      	<button>Submit</button>
	</form>
	<script type="text/javascript">
		Stripe.setPublishableKey('pk_test_6pRNASCoBOKtIshFeQd4XMUh');

		var form = document.getElementById('bank-form');
		form.addEventListener('submit', function(event) {
			console.log('function ran');
			event.preventDefault();
			Stripe.bankAccount.createToken({
				country: $('#country').val(),
				currency: $('#currency').val(),
				routing_number: $('#routing-number').val(),
				account_number: $('#account-number').val(),
  				account_holder_name: $('#account-name').val(),
  				account_holder_type: $('#account_holder_type').val()
			}, function(status, response) {
				if (response.error) {
					$('#bank-errors').text(response.error.message);
				} else {
					$('#bank-token').val(response.id);
					$('#bank-form').submit();
				}
			});
		})
	</script>
{% endblock %}