
body {
    margin: 0px;
    padding: 0px;
}
* {
    -webkit-font-smoothing: antialiased;
}
.iB {display: inline-block}
.left {float:left}
.right {float: right}
.clear {clear: both}
.wrapper {display: inline-block;}

.vw60 {
    width: 60vw;
    margin:auto;
}

#nav {
    width: 100vw;
    background-color: #2c2086;
    display: inline-block;
}
#navContainer {
    width: 60vw;
    max-width: 1300px;
    margin:auto;
    padding:10px auto;
}
#nav ul {
    padding:0;
    margin: 0;
    list-style: none;
}
#nav li {
    display: inline-block;
    float: left;
}
#nav #logo {
    position: absolute;
    text-align: center;
    right:0; left: 0;
    margin-top: 1px;
}
#nav a {
    text-decoration: none;
    color:white;
    margin-right:20px;
    font-family: "aktiv-grotesk";
    line-height: 50px;
    font-size: 15px;
}
#nav a:last-child {
    margin-left: 0px;
}
#container {
    width: 70vw;
    max-width: 1300px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body#home {
    background: #56ccf2; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #56ccf2, #2f80ed); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #56ccf2, #2f80ed); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #20176f;
    overflow: hidden;
    background-size: 100%;
}
#home #market {
    width: 50%;
}
#home #installation {
    width:40%;
}
#home #market #title {
    font-family: "proxima-soft";
    font-weight: 500;
    color:white;
    font-size: 55px;
    line-height: 60px;
    margin-bottom: 30px;
}

#home #market #subtitle {
    font-family: "aktiv-grotesk";
    font-weight: 400;
    color:white;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.35;
}
#home #market #butt {
    margin-top:25px;
}
#home #market #butt button {
    border:none;
    font-size: .9rem;
    font-family: inherit;
    font-weight: 400;
    white-space: nowrap;
    border-radius: 4px;
    padding: .6rem .8rem;
    background: #614cdb;
    color: white;
    font-family: "aktiv-grotesk";
    font-weight: 400;
    margin-right: 15px;
}

#home #market #butt button.browse {
    background-color: transparent;
    border:1px solid hsla(0,0%,100%,.5);
}

#home #installation #installCode {
    background-color: #392c9f;
    width: 100%;
    margin:auto;
    font-family: "anonymous-pro";
    font-weight:700;
    color:white;
    padding:20px;
    box-sizing: border-box;
    line-height: 19px;
}
#home #installation #installCode span {
    color:rgba(255,255,255,0.5);
}

#home #installation #installCode #documentation {
    margin-top: 40px;
}
#home #installation #installCode #documentation button {
    background-color: #20176f;
    width: 100%;
    padding:10px 20px;
    box-sizing: border-box;
    border-radius: 2px;
    border:none;
    color:white;
    font-size:16px;
}