{% extends 'templates/app.twig' %}
{% block id %}id="bundle"{% endblock %}
{% block content %}
	<div id="bundleContainer">
<<<<<<< HEAD
		{#{% block profilecontent %}{% endblock %}#}
		
=======
		{% block bundlecontent %}{% endblock %}
>>>>>>> cb0df701bd827440a91d14ecc983afa1fa7a9f99
	</div>
{% endblock %}