{% extends 'templates/app.twig' %}
{% block id %}id="profile"{% endblock %}
{% block content %}
	<div id="profileContentContainer">
		{% include "templates/partials/profileSidebar.twig"%}
		{% block profilecontent %}{% endblock %}
	</div>
{% endblock %}